AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PRIVATE_BUCKET=
AWS_REGION=eu-central-1

NEXT_PUBLIC_SANITY_PROJECT_ID=noose0ee
NEXT_PUBLIC_SANITY_DATASET=production

NEXT_PUBLIC_SANITY_GRAPHQL_ENDPOINT=https://noose0ee.api.sanity.io/v2023-08-01/graphql/production/default

SANITY_WRITE_TOKEN=
SANITY_STUDIO_ORIGIN=

UPLOAD_HMAC_SECRET=

BETTER_AUTH_SECRET=random string with min length of 32
BETTER_AUTH_URL=http://localhost:3000
